{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "arrowParens": "always",
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "array-bracket-newline": true,
  "object-curly-newline": true,
  "object-curly-spacing": ["error", "always"]
}
